node_modules
vendor
.git
.env
.env.backup
.env.production
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
*.log
.DS_Store
.phpunit.result.cache
.phpunit.cache
